body {
  font-family: "Roboto", sans-serif;

  --toolbar-width: 256px;
}

.Collage {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - var(--toolbar-width));
  height: 100vh;
}

.Toolbar {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--toolbar-width);
  height: 100vh;
  background-color: #f0f0f0;
  border-left: 1px solid #e0e0e0;
}

.Toolbar__TextSetting {
  display: block;
  margin: 4px;
}

.Input--invalid {
  border-color: red;
  outline-color: red;
  color: red;
}
